@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Serif:ital,wght@1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Serif;
  box-sizing: border-box;
}

h2 {
  color: #dcccc0;
  font-size: 1.2em;
}

input[type="search"],
input[type="text"],
input[type="number"] {
  margin-bottom: 8px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: Roboto serif;
  background: #dcccc0;
  font-size: 15px;
  outline: none;
}

input[type="checkbox"] {
  accent-color: #dcccc0;
}

.ml-15px {
  margin-left: 15px;
}

.d-fl {
  display: flex;
}

.text-center {
  text-align: center;
}

header {
  background: #dcccc0;
  padding: 10px;
  color: #545454;
}

.main-content {
  margin: 0 auto;
  padding: 16px;
  width: fit-content;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(1, 0.2fr);
}

.box-search {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box-input {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
}

.box-book {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.container {
  padding: 2em;
  border-radius: 10px;
  background: #545454;
  height: fit-content;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 4px 8px 0 black;
}

.container label {
  color: #dcccc0;
}

.form-title {
  margin-bottom: 10px;
  flex-direction: column;
}

.btn-submit {
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 16px;
  padding: 5px 7px;
  width: fit-content;
  color: #545454;
  background: #dcccc0;
  font-size: 15px;
  white-space: pre-wrap;
  cursor: pointer;
}

.btn-submit:hover {
  background: white;
  color: #545454;
}

.list-item {
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  margin-top: 16px;
  border-radius: 16px;
  padding: 12px 15px;
  width: 30%;
  background: #dcccc0;
}

.item .inner {
  margin-bottom: 7px;
}

.item>.inner h2 {
  margin-bottom: unset;
  color: #545454;
}

.item>.inner p {
  margin-top: 5px;
  color: #545454;
}

.check-button,
.trash-button,
.undo-button {
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  margin-left: auto;
}

.check-button:hover,
.trash-button:hover,
.undo-button:hover {
  background-size: contain;
}

.check-button {
  background: url("../assets/check-outline.svg");
}

.check-button:hover {
  background: url("../assets/check-solid.svg");
}

.trash-button {
  background: url("../assets/trash-outline.svg");
  margin-left: 16px;
}

.trash-button:hover {
  background: url("../assets/trash-fill.svg");
}

.undo-button {
  background: url("../assets/undo-ouline.svg");
}

.undo-button:hover {
  background: url("../rassets/undo-ouline.svg");
}

.check-button:focus,
.trash-button {
  outline: none;
}

@media screen and (max-width: 1280px) {
  .main-content {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(1, 150px);
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container {
    padding: 1.5em;
  }
  .item {
    width: 48%;
  }
}

@media screen and (max-width: 576px) {
  .item {
    width: 100%;
  }
}